.center-horz-vert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  margin: 0;
  #content,
  .editor {
    height: 100%;
  }
  .ui-editor {
    border-left: 1px solid #e0e0e0;
    padding: 50px 20px;
    //transition: margin 0.133s ease-out;
    transition: all 0.25s cubic-bezier(0.430, 1.010, 0.610, 1.450);
    margin: 0 -350px 0 0;
    width: 350px;
    &.show-editor {
      margin: 0;
    }
  }
  .ui-box-grid {
    .ui-box-grid-component {
      position: relative;
      height: 100px;
      div {
        @extend .center-horz-vert;
        width: 50%;
        padding-top: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 10px;
      }
    }
  }
  .ui-box {
    width: 320px;
    height: 568px;
    @extend .center-horz-vert;
    background: url('/img/iphone-bg.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    .bg-placeholder {
      background: #fff;
      width: 100%;
      height: 474px;
      margin-top: 58px;
    }
  }
  .ui-box-container {
    position: relative;
    .mib-content-wrapper {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      overflow: hidden;
      background-color: #F7F7F7;
    }
  }
  .text-align-buttons {
    .lego-button {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50%;
    }
  }
  .dev-sidebar {
    .nav-icon__item {
      width: 100%;
      height: 50px;
      position: relative;
    }
    .dev-sidebar-component {
      width: 50%;
      padding-top: 50%;
      @extend .center-horz-vert;
    }
  }
  .lego-dropdown {
    &.show-dropdown {
      visibility: visible;
    }
    .hide-dropdown-item {
      display: none;
    }
  }
}
